{# Affichage Message Flash #}
{% for key, message in app.flashes %}
	{% if key matches '/success/i' %}
		<div id="alert-success" class="alert-tw alert-success-tw" role="alert">
			<span class="sr-only">Info</span>
			<div class="ml-auto">
				<i class="bi bi-info-circle-fill mr-2"></i>
				<strong>{{message[0]}}
				</strong>
			</div>
			<button type="button" class="alert-btn-close-tw" data-dismiss-target="#alert-success" aria-label="Close">
				<span class="sr-only"></span>
				<i class="bi bi-x"></i>
			</button>
		</div>
	{% elseif key matches '/warning/i'%}
		<div id="alert-warning" class="alert-tw alert-warning-tw" role="alert">
			<span class="sr-only">Info</span>
			<div class="ml-auto">
				<i class="bi bi-info-circle-fill mr-2"></i>
				<strong>{{message[0]}}
				</strong>
			</div>
			<button type="button" class="alert-btn-close-tw" data-dismiss-target="#alert-warning" aria-label="Close">
				<span class="sr-only"></span>
				<i class="bi bi-x"></i>
			</button>
		</div>
	{% elseif key matches '/danger/i'%}
		<div id="alert-danger" class="alert-tw alert-danger-tw" role="alert">
			<span class="sr-only">Info</span>
			<div class="ml-auto">
				<i class="bi bi-info-circle-fill mr-2"></i>
				<strong>{{message[0]}}
				</strong>
			</div>
			<button type="button" class="alert-btn-close-tw" data-dismiss-target="#alert-danger" aria-label="Close">
				<span class="sr-only"></span>
				<i class="bi bi-x"></i>
			</button>
		</div>
	{% endif %}
{% endfor %}
