<div class="footer-top">
	<div class="container">
		<div class="row d-sm-flex">
			<div class="col-sm-4 d-sm-flex flex-sm-column justify-content-sm-center">
				<div class="footer-info">
					<h3 class="font-poppins">MarryMix</h3>
					<p>
						84 Avenue Gambetta<br/>
						74000 ANNECY<br/>
						+33 6 24 16 60 60<br/>
						info@marrymix.com<br/>
					</p>
				</div>
			</div>
			<div class="col-sm-4 my-3 my-sm-0 d-sm-flex justify-content-sm-center align-items-sm-center">
				<div class="social-links d-sm-flex justify-content-sm-center">
					<a href="#" class="twitter">
						<i class="bx bxl-twitter"></i>
					</a>
					<a href="#" class="facebook">
						<i class="bx bxl-facebook"></i>
					</a>
					<a href="#" class="instagram">
						<i class="bx bxl-instagram"></i>
					</a>
					<a href="#" class="google-plus">
						<i class="bx bxl-skype"></i>
					</a>
					<a href="#" class="linkedin">
						<i class="bx bxl-linkedin"></i>
					</a>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="footer-links d-sm-flex flex-sm-column align-items-sm-end">
					<h4>Useful Links</h4>
					<ul>
						<li>
							<i class="bx bx-chevron-right"></i>
							<a href="#">Home</a>
						</li>
						<li>
							<i class="bx bx-chevron-right"></i>
							<a href="#">About us</a>
						</li>
						<li>
							<i class="bx bx-chevron-right"></i>
							<a href="#">Terms of service</a>
						</li>
						<li>
							<i class="bx bx-chevron-right"></i>
							<a href="#">Privacy policy</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="copyright">
		&copy; Copyright
		<strong>
			<span>BollyEvents</span>
		</strong>. All Rights Reserved
	</div>
	<div class="credits">
		Designed by<a href="">
			Jensen M.</a>
	</div>
</div>
