<!-- ======= Top Bar ======= -->
<div id="topbar" class="d-flex align-items-center fixed-top font-montserrat" data-aos="fade-down" data-aos-easing="linear" data-aos-delay="500">
	<div class="container d-flex justify-content-center justify-content-md-between">

		<div class="contact-info d-flex align-items-center">
			<i class="bi bi-phone d-flex align-items-center">
				<span>+33 6 24 16 60 60</span>
			</i>
		</div>
		<div class="languages d-none d-md-flex align-items-center">
			<ul>
				{% if is_granted('ROLE_ADMIN') %}
					<li>
						<a href="{{ path('app_admin_')}}" class="btn-tw btn-secondary-tw">Back-Office</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</div>
<!-- ======= Top Bar ======= -->
