{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}

	<section class="breadcrumbs">
		<div class="container">
			<div class="d-flex justify-content-between align-items-center">
				<h2>Login</h2>
			</div>

		</div>
	</section>
	<section class="inner-page">
		<div class="row d-flex justify-content-center align-items-center">
			<form method="post" class="col-10 col-md-4 mx-2 d-flex flex-column justify-center">
				{% if error %}
					<div class=" alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}
				{# <label for="inputEmail">Email</label> #}
				<input
				type="email" value="{{ last_username }}" name="email" id="inputEmail" class="mb-3 form-input-tw" autocomplete="email" placeholder="Email" required autofocus>
				{# <label for="inputPassword">Password</label> #}
				<input type="password" name="password" id="inputPassword" class="mb-3 form-input-tw" autocomplete="current-password" placeholder="Password" required>

				<input
				type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


				{# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
																																																																																																																				        See https://symfony.com/doc/current/security/remember_me.html
																				
																								<div class="checkbox mb-3">
																									<label>
																										<input type="checkbox" name="_remember_me">
																										Remember me
																									</label>
																								</div> #}


				<button class="btn-tw btn-lg btn-primary-tw m-auto" type="submit">
					Sign in
				</button>
			</form>
		</div>
	</section>
{% endblock %}
