<form id="cookie-consent-form" class="z-[999] absolute top-0 left-0 w-full h-10 flex flex-row justify-around flex-wrap bg-[rgba(0,0,0,0.8)]">
	<div class="flex flex-row items-center justify-center text-primary font-poiretone text-sm">
		<a href=" {{asset('uploads/pdf_invoices/pdc.pdf')}}" class="cursor-pointer" target="_blank">
			<span>See Privacy Policy</span>
		</a>
	</div>
	<div class="flex flex-row flex-wrap items-center">
		<label class="block text-primary font-poiretone text-sm mr-2" for="cookie_consent_[analyticsConsent]">I accept the use of cookies for analytics purposes.</label>
		<input type="checkbox" id="cookie_consent_analyticsConsent" name="cookie_consent[analyticsConsent]" class="w-6 h-6" value="1">
	</div>
	<div class="flex flex-row flex-wrap items-center">
		<label class="block text-primary font-poiretone text-sm mr-2" for="cookie_consent_[marketingConsent]">I accept the use of cookies for marketing purposes.</label>
		<input type="checkbox" id="cookie_consent_marketingConsent" name="cookie_consent[marketingConsent]" class="appearance-none default:bg-secondary checked:bg-primary checked:text-primary w-6 h-6" value="1">
	</div>
	<button type="submit" class="inline-block rounded px-1 pt-1 pb-1 text-center  font-poiretone text-sm font-medium uppercase leading-normal shadow transition duration-300 ease-in-out hover:shadow-md focus:shadow-md focus:outline-none  focus:ring-0  active:shadow-md btn-secondary-tw">
		Validate
	</button>
</form>
