{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent
{% endblock %}

{% block body %}
	<section id="reset-password" class="reset-password">
		<div class="container" data-aos="fade-down">

			<div class="section-title">
				<h2>Reset Password</h2>
			</div>

			<div class="row d-flex justify-content-center align-items-center" data-aos="fade-down" data-aos-delay="100">
				<div class="col-10 mx-2 d-flex flex-column items-center justify-center">
					<p class="font-montserrat">
						If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password. This link will expire in
						{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
					</p>
					<p>If you don't receive an email please check your spam folder or
						<a href="{{ path('app_forgot_password_request') }}">try again here</a>.
					</p>
				</div>
			</div>
		</section>

	{% endblock %}
