:root {
  --header-height: 3rem;
  --nav-width: 68px;
  --first-color: #e14eca;
  --second-color: #11101d;
  --third-color: #1d1d2e;
  --white-color: #ffffff;
  --normal-font-size: 1rem;
  --weight-font: 600;
  --z-fixed: 100;
}
* {
  box-sizing: border-box;
}
.alert {
  margin-bottom: 0;
}
.height-100 {
  height: 100vh;
}

/* SIDEBAR  */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background-image: linear-gradient(
    to bottom left,
    #e14eca,
    #ba54f5,
    #e14eca
  ) !important;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
  border-radius: 5px;
  box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.6);
}

.sidebar.open {
  width: 250px;
}
.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon {
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name {
  color: var(--white-color);
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
  opacity: 1;
}
.sidebar .logo-details #menuBtn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
  visibility: visible;
}
.sidebar.open .logo-details #menuBtn {
  text-align: right;
}
.sidebar.open .logo-details .btn-close i {
  transform: rotate(45deg);
}

.sidebar i {
  color: var(--white-color);
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar ul {
  padding-left: 0%;
}
.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}
.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: var(--white-color);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip {
  display: none;
}
.sidebar input {
  font-size: 15px;
  color: var(--white-color);
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: var(--second-color);
}
.sidebar.open input {
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: var(--second-color);
  color: var(--white-color);
}
.sidebar.open .bx-search:hover {
  background: var(--second-color);
  color: var(--white-color);
}
.sidebar .bx-search:hover {
  background: var(--white-color);
  color: var(--second-color);
}
.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background-image: linear-gradient(to bottom left, #e14eca, #ba54f5, #e14eca);
}

.sidebar li a .links_name {
  color: var(--white-color);
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: var(--second-color);
}
.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile {
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: var(--second-color);
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile {
  width: 250px;
}
.sidebar li .profile-details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job {
  font-size: 15px;
  font-weight: 400;
  color: var(--white-color);
  white-space: nowrap;
}
.sidebar li.profile .job {
  font-size: 12px;
}
.sidebar .profile #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: var(--second-color);
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out {
  width: 50px;
  background: none;
}

.sidebar #log_out:hover {
  color: var(--first-color);
  cursor: pointer;
}

.sidebar .active {
  background: none;
  background-color: var(--second-color) !important;
}

.sidebar .active .links_name,
.sidebar .active i {
  transition: all 0.5s ease;
  color: var(--white-color);
}

.btn-close,
#mobile_showSidebar {
  visibility: hidden;
}
/* SIDEBAR  */

/* HEADER  */
.header {
  position: relative;
  background: var(--second-color);
  top: 0;
  min-height: 78px;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
  border-bottom: 1px solid var(--first-color);
}
.header.open {
  left: 250px;
  width: calc(100% - 250px);
}
.header i {
  color: var(--white-color);
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
}
.header .text {
  padding-top: 10px;
  margin-right: 5px;
  /* color: var(--first-color); */
  font-size: 25px;
  font-weight: 500;
}
/* HEADER  */

/* CONTENT  */
.content {
  position: relative;
  background: var(--second-color);
  min-height: 100vh;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.content.open {
  left: 250px;
  width: calc(100% - 250px);
}
.content .text {
  color: #ffffff;
  font-size: 25px;
  font-weight: 500;
}

.card {
  border-radius: 5px;
  box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.6);
}

.table-responsive::-webkit-scrollbar {
  width: 10px;
}
.table-responsive::-webkit-scrollbar-thumb {
  background-color: var(--second-color);
  border-radius: 10px;
}
.table-responsive::-webkit-scrollbar-track {
  background-color: var(--third-color);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* CONTENT  */

/* MEDIA QUERIES  */
@media (max-width: 420px) {
  /* SIDEBAR  */
  canvas {
    pointer-events: none;
  }
  .sidebar li .tooltip {
    display: none;
  }
  .sidebar {
    left: -250px;
  }

  .sidebar.show {
    left: 0px;
  }
  #menuBtn {
    opacity: 0;
  }
  .btn-close {
    position: relative;
    top: 1px;
    left: 10px;
    color: var(--white-color);
  }
  .btn-close,
  #mobile_showSidebar {
    visibility: visible;
  }
  /* SIDEBAR  */
  /* HEADER  */
  .header {
    left: 0;
    width: 100%;
  }
  /* HEADER  */
  /* CONTENT  */
  .content {
    left: 0;
    width: 100%;
  }
  .content.show {
    left: 250px;
    width: calc(100% - 250px);
  }

  /* CONTENT  */
}
