{% extends 'base.html.twig' %}

{% block title %}About Us
{% endblock %}

{% block body %}
	<!-- ======= About Us Section ======= -->
	<section id="about-us" class="about-us">
		<div class="container" data-aos="fade-down" data-aos-delay="100">
			<div class="section-title">
				<h2>About Us</h2>
			</div>
			<div class="row mt-5">
				<div class="col-10 w-full h-[400px] swiper">
					<div class="swiper-wrapper">
						<div class="bg-slide-0 swiper-slide !flex flex-column flex-md-row justify-around">
							<p class="font-poiretone font-semibold text-primary text-base sm:text-lg md:text-2xl w-full md:w-1/2 flex items-start mx-2 mx-md-4">Welcome to MarryMix, your trusted partner for unforgettable cocktail services at weddings, birthdays, and private events. We bring sophistication and delightful flavors to every moment with our expertise in mixology and passion for refined cocktails.</p>

							<p class="font-poiretone font-semibold text-primary text-base sm:text-lg md:text-2xl w-full md:w-1/2 flex items-end mx-2 mx-md-4">At MarryMix, we provide exceptional, tailor-made cocktail services. Our talented mixologists craft one-of-a-kind beverages using premium ingredients and advanced techniques, ensuring impeccable quality.</p>
						</div>

						<div class="bg-slide-1 swiper-slide !flex flex-column flex-md-row justify-around">
							<p class="font-poiretone font-semibold text-primary text-base sm:text-lg md:text-2xl w-full md:w-1/2 flex items-end mx-2 mx-md-4">We understand the importance of every detail when planning a special event. That's why we go above and beyond to create a seamless and professional experience from start to finish.</p>

							<p class="font-poiretone font-semibold text-primary text-base sm:text-lg md:text-2xl w-full md:w-1/2 flex items-start mx-2 mx-md-4">Our team is dedicated to delivering a wide range of cocktail options that cater to different preferences and themes. From classic favorites to innovative signature drinks, we have you covered.</p>
						</div>

						<div class="bg-slide-2 swiper-slide !flex flex-column flex-md-row justify-around">
							<p class="font-poiretone font-semibold text-primary text-base sm:text-lg md:text-2xl w-full md:w-1/2 flex items-start mx-2 mx-md-4">We prioritize fresh, seasonal produce and premium spirits to create cocktails that are not only delicious but visually stunning. Every sip is a delight to the senses.</p>

							<p class="font-poiretone font-semibold text-primary text-base sm:text-lg md:text-2xl w-full md:w-1/2 flex items-end mx-2 mx-md-4">Presentation matters, and we take pride in our ability to create captivating visual displays. Each cocktail becomes a work of art, adding elegance and sophistication to your event.</p>
						</div>

						<div class="bg-slide-3 swiper-slide !flex flex-column flex-md-row justify-around">
							<p class="font-poiretone font-semibold text-primary text-base sm:text-lg md:text-2xl w-full md:w-1/2 flex items-end mx-2 mx-md-4">Planning a cocktail menu can be overwhelming, but with MarryMix, it's a stress-free process. We offer expert guidance and recommendations to ensure that every drink reflects your vision.</p>

							<p class="font-poiretone font-semibold text-primary text-base sm:text-lg md:text-2xl w-full md:w-1/2 flex items-start mx-2 mx-md-4">Customer satisfaction is our top priority. We take a personalized approach, carefully listening to your needs and working closely with you to create a unique cocktail menu tailored to your event.</p>
						</div>

						<div class="bg-slide-4 swiper-slide !flex flex-column flex-md-row justify-around">
							<p class="font-poiretone font-semibold text-primary text-base sm:text-lg md:text-2xl w-full md:w-1/2 flex items-start mx-2 mx-md-4">Our professional team ensures flawless service, paying meticulous attention to every step of the process. From conception to execution, we strive for perfection.</p>

							<p class="font-poiretone font-semibold text-primary text-base sm:text-lg md:text-2xl w-full md:w-1/2 flex items-end mx-2 mx-md-4">With MarryMix, you can relax and enjoy your event, knowing that your beverages are in good hands. Trust our expertise and passion to make your special occasion a memorable one.</p>
						</div>

						<div class="bg-slide-5 swiper-slide !flex flex-column flex-md-row justify-around">
							<p class="font-poiretone font-semibold text-primary text-base sm:text-lg md:text-2xl w-full md:w-1/2 flex items-end mx-2 mx-md-4">We pride ourselves on providing exceptional customer service. We are responsive, attentive, and professional, ensuring that your experience with MarryMix exceeds your expectations.</p>

							<p class="font-poiretone font-semibold text-primary text-base sm:text-lg md:text-2xl w-full md:w-1/2 flex items-start mx-2 mx-md-4">Choose MarryMix as your cocktail service provider and let us elevate your event with our exquisite mixology skills, attention to detail, and commitment to delivering an exceptional experience.</p>
						</div>
					</div>
					<div class="swiper-pagination"></div>
				</div>
			</div>
		</div>
	</div>
</div></section><!-- End About Us Section -->{% endblock %}
