{% extends 'base.html.twig' %}

{% block title %}Credits
{% endblock %}

{% block body %}
	<!-- ======= Credits Section ======= -->
	<section id="credits" class="credits">
		<div class="container" data-aos="fade-down" data-aos-delay="100">
			<div class="section-title">
				<h2>Credits</h2>
			</div>
			<div class="row mt-5">
				<ul class="col-12 text-center">
					<li>
						<a href="https://soundcloud.com/joakimkarud" class="cursor-pointer">Music : Joachim Karud - Canals</a>
					</li>
					<li>
						<a href="https://www.pexels.com/fr-fr/royalty-free-images/" class="cursor-pointer">Images : Pexels.com</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section><!-- End Credits Section -->{% endblock %}
