{% extends 'base.html.twig' %}

{% block title %}
	Index
{% endblock %}

{% block hero %}
	<!-- ======= Hero Section ======= -->
	<section id="hero" class="d-flex align-items-center">
		<div class="container position-relative text-center text-lg-start">
			<div class="row">
				<div class="col-12">
					<div class="d-sm-flex sm:flex-row sm:justify-between">
						<div class="d-sm-flex sm:justify-center sm:items-center sm:text-center btns" data-aos="fade-right" data-aos-delay="300">
							<a href="#menu" class="btn-menu animated fadeInUp scrollto">Our Menu</a>
						</div>
						<img src="{{asset("images/logo/marrymix-detailed.png")}}" alt="logo-detailed" class="img-fluid sm:w-3/12 sm:h-3/12" data-aos="zoom-out" data-aos-delay="200">

						<div class="d-sm-flex d-inline-block sm:justify-center sm:items-center sm:text-center m-auto m-sm-0" data-aos="fade-left" data-aos-delay="300">
							<a href="https://www.youtube.com/watch?v=u6BOC7CDUTQ" class="glightbox play-btn"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Hero -->
{% endblock %}
