{% extends 'base.html.twig' %}

{% block title %}
	Index
{% endblock %}

{% block hero %}
	<!-- ======= Hero Section ======= -->
	<section id="hero" class="d-flex align-items-center">
		<div class="container position-relative text-center text-lg-start">
			<div class="row">
				<div class="col-12">
					<div class="d-sm-flex justify-around">
						<img src="{{asset("images/logo/marrymix-detailed.png")}}" alt="logo-detailed" class="img-fluid sm:w-1/3 sm:h-1/3" data-aos="fade-in" data-aos-delay="300">

						<div class="d-sm-flex d-inline-block sm:justify-center sm:items-center sm:text-center m-auto m-sm-0" data-aos="fade-in" data-aos-delay="300">
							<a href="{{ asset("videos/video-marrymix.mp4")}}" class="glightbox play-btn"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Hero -->
{% endblock %}
