<div class="header">
	<div class="flex justify-between items-center">
		<button id="mobile_showSidebar" class="btn" role="button" type="button">
			<i class="bx bx-menu flex items-center"></i>
		</button>
		<h1 class="title text-primary-500 text-center font-opensans">BollyEvents</h1>
	</div>
</div>
