<div class="header">
	<div class="flex justify-between items-center">
		<button id="mobile_showSidebar" class="btn" role="button" type="button">
			<i class="bi bi-list"></i>
		</button>
		{# <h1 class="title text-primary-500 text-center font-opensans">MarryMix</h1> #}
		<a href="{{ path('index') }}" class="cursor-pointer w-1/6 h-full items-end"><img class="img-fluid sm:w-1/2 ml-auto" src="{{ asset('images/logo/marrymix.png')}}" alt="logo"></a>
	</div>
