<p>Thank you for signing up on our website. To complete your registration, please click on the verification link below:
	<br><br>
	<a href="{{ signedUrl }}">Confirm my Email</a>.
									    This link will expire in
	{{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.

	<br><br>
	We are excited to have you on board and are here to assist you if you have any questions.
	<br><br>
	Best regards,
			MarryMix
</p>
