<!-- contact.html.twig -->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{ subject }}</title>
	</head>
	<body style="background-color: #0c0b09;">
		<div style="max-width: 600px; margin: 0 auto; padding: 40px;">
			<h1 style="font-size: 24px; font-weight: bold; margin-bottom: 20px; color:#cda45e">{{ subject }}</h1>
			<p style="margin-bottom: 20px; color: #ffffff;">{{ content }}</p>
		</div>
	</body>
</html>
